<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            Vous êtes connecté en tant <h2>{{profile}}</h2>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>